.code-area {
    -fx-font-family: monospace;
}

.virtual-flow {
    /*-fx-background-color: red;*/
    /*-fx-border-insets: 0 40 0 0;*/
    -fx-border-width: 0 0 0 81;
    -fx-border-color: #ddd;
}

.lineno {
    -fx-min-width: 50px;
    /*-fx-background-color: red;*/
}

.left-gutter {
    -fx-background-color: #ddd;
    -fx-border-color: #ddd;
}
